<!DOCTYPE html>
<html>
<head>
    <title>Panel de cuotas</title>
</head>
<body>

<a href="/pago">➕ Registrar nuevo pago</a>
<br><br>

<a href="/recibo/{{ pago.id }}" target="_blank">
    📄 Recibo
</a>
    
<h2>Estado de cuotas</h2>

<table border="1">
    <tr>
        <th>Persona</th>
        <th>Saldo</th>
    </tr>

    {% for d in datos %}
    <tr>
        <td>{{ d.nombre }}</td>
        <td>{{ d.saldo }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Pagos registrados</h3>

<table border="1">
    <tr>
        <th>Persona</th>
        <th>Mes</th>
        <th>Monto</th>
        <th>Recibo</th>
    </tr>

    {% for p in pagos %}
    <tr>
        <td>{{ personas[p.persona] }}</td>
        <td>{{ p.mes }}</td>
        <td>{{ p.monto }}</td>
        <td>
            <a href="/recibo/{{ p.id }}" target="_blank">
                📄 Recibo
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
